<.header>
  Edit Path {@path.id}
  <:subtitle>Use this form to manage paths.</:subtitle>
</.header>

<.path_form changeset={@changeset} action={~p"/paths/#{@path}"} />

<.link class="text-sm text-indigo-200 hover:text-indigo-500" navigate={~p"/paths"}>
  Back to paths
</.link>
