<.header>
  New Path
  <:subtitle>Use this form to add a new path to your database.</:subtitle>
</.header>

<.path_form changeset={@changeset} action={~p"/paths"} />

<.link class="text-sm text-indigo-200 hover:text-indigo-500" navigate={~p"/paths"}>
  Back to paths
</.link>
