<.header>
  New Path
  <:subtitle>Use this form to add a new path to your database.</:subtitle>
</.header>

<.path_form changeset={@changeset} action={~p"/paths"} />

<.back navigate={~p"/paths"}>Back to paths</.back>
