<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:name]} type="text" label="Name" />
  <.input field={f[:should_auto_check]} type="checkbox" label="Should Auto Check?" />
  <:actions>
    <.button>Save Path</.button>
  </:actions>
</.simple_form>
