<.header>
  Editing configuration
  <:subtitle>Use this form to update this configuration value.</:subtitle>
</.header>

<.config_form changeset={@changeset} action={~p"/config/#{@config.id}"} />

<.link class="text-sm text-indigo-200 hover:text-indigo-500" navigate={~p"/config"}>
  Back to Config
</.link>
