<.header>
  Edit Provider {@provider.id}
  <:subtitle>Use this form to manage provider records in your database.</:subtitle>
</.header>

<.provider_form changeset={@changeset} action={~p"/providers/#{@provider}"} options={@options} />

<.link class="text-sm text-indigo-200 hover:text-indigo-500" navigate={~p"/providers"}>
  Back to providers
</.link>
