<.header>
  New Provider
  <:subtitle>Use this form to manage providers in your database.</:subtitle>
</.header>

<.provider_form changeset={@changeset} action={~p"/providers"} options={@options} />

<.link class="text-sm text-indigo-200 hover:text-indigo-500" navigate={~p"/providers"}>
  Back to providers
</.link>
