<.header>
  New Provider
  <:subtitle>Use this form to manage providers in your database.</:subtitle>
</.header>

<.provider_form changeset={@changeset} action={~p"/providers"} options={@options} />

<.back navigate={~p"/providers"}>Back to providers</.back>
