@import "tailwindcss";

.bg-colour: {
  background-color: var(--color-gray-900);
}

@layer base {
  .bg-colour: {
    background-color: var(--color-gray-900);
  }
}

@theme static {
  --bg-colour: var(--color-slate-100);
  --color-success-300: var(--color-blue-500);
  --color-fail-300: var(--color-red-500);
}
