<.header>
  New Artist
  <:subtitle>Use this form to manage artist records in your database.</:subtitle>
</.header>

<.artist_form changeset={@changeset} action={~p"/artists"} />

<.link class="text-sm text-indigo-200 hover:text-indigo-500" navigate={~p"/artists"}>
  Back to artists
</.link>
